/* Colores Modo Claro (Por defecto) */
:root {
  --ion-color-primary: #2e7d32;
  --ion-color-primary-rgb: 46,125,50;
  --ion-color-primary-contrast: #ffffff;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

/* MODO OSCURO GLOBAL */
.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;

  ion-toolbar {
    --background: #1a1a1a;
    --color: #ffffff;
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease !important;
}