<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mis Viajes</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon slot="icon-only" [name]="modoOscuro ? 'sunny-outline' : 'moon-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="listaDeMisViajes.length === 0" class="ion-text-center" style="margin-top: 50px;">
    <ion-icon name="airplane-outline" style="font-size: 64px; color: #ccc;"></ion-icon>
    <p style="color: #666;">Aún no tienes viajes planeados.</p>
    <ion-button fill="clear" routerLink="/crear-viaje">¡Empieza ahora!</ion-button>
  </div>

  <ion-card class="card-viaje" *ngFor="let viaje of listaDeMisViajes">
    <ion-card-header>
      <ion-card-title class="titulo-vacaciones">{{ viaje.nombreViaje }}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="map-outline" color="medium"></ion-icon>
        {{ viaje.ciudadDestino }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-margin-top ion-text-center">
        <p>Presupuesto: <b>{{ viaje.presupuesto }} €</b></p>
        <ion-button [routerLink]="['/detalle-viaje', viaje.id]" size="small" fill="outline" color="success">
          Ver Detalles
        </ion-button>
        <ion-button (click)="borrarUnViaje(viaje.id)" size="small" fill="clear" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-viaje">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>